.add-form {
    box-shadow: 20px 20px 60px #60adac, -20px -20px 60px #82ebe8;
    margin: 6px 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 60vh;
    width: 50%;
    margin: auto;
    text-align: left;
  }
  .form-item {
    margin: 12px 0px;
    width: 70%;
    padding: 4px;
    border-radius: 6px;
    background-color: white;
    border: 2px solid black;

  }
  .form-item label {
    background-color: lightgrey;
    padding: 2px 12px;
    border-radius: 0px 4px 4px 0px;
  }
  .form-item input {
    font-size: 16px;
    border: none;
    width: 70%;
    outline: none;
  }
  
  .form-add-button {
    display: flex;
    justify-content: flex-start;
  }
  .form-add-button div {
    display: flex;
    border: 1px solid black;
    padding: 2px 8px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .form-add-button div i {
    display: flex;
    align-items: center;
    margin-left: 6px;
  }
  
  @media only screen and (max-width: 1024px) {
    .form-item {
      width: 90%;
    }
    .form-item input {
      width: 90%;
    }
    .amount-input {
      width: 50% !important;
    }
    .add-form{
        width: 90%;
    }
 
  }