
header{
    width: 100%;
    min-height: 5vh;  
    box-shadow: 2px 2px 3px rgba(73, 71, 71,0.5) ;
}
.btn{
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 3px;    
}
.nav-list{

    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.link{
    list-style-type: none;
    text-decoration: none; 
    font-size: 1.25rem;   
}
.link:hover{
 color: brown;
}
.logo{
    font-size: 30px;
}
@media screen and (max-width:770px){
    .logo{
        font-size: 20px;
    }
}
